:root {
    --dark-color: #19283f;
    --green-color: #87dd74;
}



body {
    font-family: "Roboto", sans-serif;
}



/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color)
}

.navbar .search {
    border-left: 1px solid var(--green-color);
}

.navbar .search .svg {
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* End Navbar */


:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

.main-btn:hover {
    color: var(--yellow-color);
}

.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

/* start landing  */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

/* End landing */
/* start Features  */
.features .icon-holder {
    height: 200px;
    display: flex;
    justify-content: center;
}

.features .icon-holder .icon {
    left: 50%;
    transform: translateX(-50%)
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
    left: 50%;
    transform: translateX(-50%)
}

.features .icon-holder .icon {
    color: var(--green-color);
    z-index: 2;
}

.features .feat h4 {
    color: var(--yellow-color);
}

/* End Features  */

/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var(--red-color);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover::before {
    transform: translateX(0);
}

/* End Our Work */

/* Start Stuff */
.stuff .description {
    max-width: 500px;
}

/* End Stuff */

.blog-section {
    padding: 80px 0;
}


.blog-icon {
    color: #ffc107;
    font-size: 35px;
}


.blog-section h2 {
    color: #1a2a41;
    font-size: 32px;
}


.title-line {
    width: 70px;
    height: 2px;
    background-color: #33d1cc;
    margin: 0 auto;
}

.ls-2 {
    letter-spacing: 2px;
}


.card {
    transition: all 0.3 s ease;
    border-radius: 0 !important;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    object-fit: cover;
}

.card-title {
    color: #060b10;
    font: size 1.1rem;
    line-height: 1.4;
}

/* Start Subscribe */
.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

/* End Subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}

.footer .copyright>span {
    color: var(--green-color);
}

.footer .copyright div span {
    color: var(--yellow-color);
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0a66c2;
}

.footer .youtube {
    background-color: #ff0000;
}

/* End Footer */