
body {
    background-color: #f8f9fa; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-section {
    padding: 80px 0;
}


.blog-icon {
    color: #ffc107;
    font-size: 35px;
}


.blog-section h2 {
    color: #1a2a41; 
    font-size: 32px;
}


.title-line {
    width: 70px;
    height: 2px;
    background-color: #33d1cc;
    margin: 0 auto;
}

.ls-2 {
    letter-spacing: 2px;
}


.card {
    transition: all 0.3
    
    s ease;
    border-radius: 0 !important; 
}

.card:hover {
    transform: translateY(-10px); 
}

.card-img-top {
    object-fit: cover;
}

.card-title {
    color: #060b10;
    font: size 1.1rem;
    line-height: 1.4;
}

